<div class="text-center">
<h1>Welcome</h1>
<img src="https://realdoctorstu.files.wordpress.com/2011/01/running-doctors.jpg" alt="doctors">
<h3>Having symptoms?</h3>
<p>We'll help you figure out what disease you have, and what steps to take to feel better.</p>
</div>
