<div class="text-center">
	<h1>Diseases List</h1>
	<h3>Hopefully you will find the answers you're looking for here.</h3>
	<% diseases.forEach(function(d){ %>
		<a href="/diseases/<%= d.id %>">
		<h3 class="text-danger">
		<%= d.name %>
		</h3>
		</a>
<% }); %>
</div>
